*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url(https://s.aficionados.com.br/imagens/goku-black-rose.jpg);
    background-size: 100vw;
    background-attachment: fixed;
}

main {
    padding: 20px;
    margin: 0 auto 64px;
    max-width: 640px;
}

header {
    margin-top: 64px;
    padding-bottom: 24px;
}

header h1 {
    font-size: 30px;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}

header h1 span {
    text-decoration: underline;
    text-transform: uppercase;
}

#quiz {
    counter-reset: quiz-item;
}

.quiz-item {
    margin-top: 24px;
    border: 1px solid #475569;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,1);
}

.quiz-item h3 {
    padding: 16px 20px;
    display:flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
}

.quiz-item h3:before {
    counter-increment: quiz-item;
    content: counter(quiz-item);
    width: 28px;
    height: 28px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.quiz-item dl {
    padding: 20px 24px;
    display: grid;
    gap: 8px;
    background-image: url(./elefante.jpg);    
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y: -370px; 
}

.quiz-item dl dt {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ff007f;
    font-weight: 800;
}

.quiz-item dl dt span {
    background-color: #fff;
}

input {
    all: unset;
    border: 1px solid #94a3b8;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #fff;
}

input:checked {
    border: 1px solid #ff007f;
}

input:checked:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ff007f;
    border-radius: 50%;
    
}

#acertos {
    text-align: center;
    background-color: #ff007f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    color: #fff;
}

#enviar {
    border-radius: 8px;
    height: 50px;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, 
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    margin-top: 16px;
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,1);
}


